<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Left: Title -->
    <div class="text-white mb-3 mb-md-0">
        Complaint Portal
    </div>
    <!-- Left: Title -->

    <!-- Right: Links and Button -->
    <div>
        <a href="#" class="text-white me-4"> | </a>
        <button class="btn btn-success btn-sm">New Complaint</button>
        <a href="#" class="text-white me-4"><i class="fa fa-user"></i> loggedUser</a>
    </div>
    <!-- Right: Links and Button -->
</div>
